{% extends "base.html" %}

{% block mid_content %}
	<div class="row lueur_esprit_wrapper mid_border">

		<div class="large-12 columns">
			<div class="shadow-box">

				<nav class="top-bar" style="" data-topbar="" data-options="is_hover: false">
					<section class="top-bar-section">

							<!-- Left Nav Section -->
							<ul class="left show-for-large-up">
								<li><a href="#">Les nouveautées</a></li>
								
							</ul>
					</section>
				</nav>

				<div class="panel">
					<div class="row">

						<div class="large-3 columns"><img style="max-width:160px; max-height:210px" src="{{ work.poster.url }}">
						</div>

						<div class="large-9 columns">
							<h4>{% if work.title %} {{ work.title }} {% endif %}</h4>
							
							{{ work.description|safe }}
							
							
							{% if work_staffreviews %}
							<hr>
								{% for review in work_staffreviews %}
								<p>{{ review.body }}</p>
								<blockquote>{{ review.opinion }}<cite>{{ review.author }}</cite></blockquote>
								{% endfor %}

							{% endif %}
						

							<hr>
							<p>{% if work.website_url %} <a href="{{ work.website_url }}">Site web</a> {% endif %}<br/>
							
							{% if average_rating %}
								Note moyenne des critiques : {{ average_rating }}
								<br/>
							{% endif %}

							</p>

						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>



{% endblock %}