{% extends "base.html" %}

{% block mid_content %}
	<div class="row lueur_esprit_wrapper mid_border">

		<div class="large-12 columns">
			<div class="shadow-box">

				<nav class="top-bar" style="" data-topbar="" data-options="is_hover: false">
					<section class="top-bar-section">

							<!-- Left Nav Section -->
							<ul class="left show-for-large-up">
								<li><a href="#">Critique</a></li>
								
							</ul>
					</section>
				</nav>

				<div class="panel">
					<div class="row">

						<div class="large-3 columns">
						
						{% if review.work.poster.url %}	
							<img style="max-width:160px; max-height:210px" src="{{ review.work.poster.url }}">
						{% endif %}

						
						</div>

						<div class="large-9 columns">
							<h4>{{ review.title }}</h4>
							<p>{{ review.body|safe }}
								<cite>{{ review.author.first_name }} {{ review.author.last_name|upper }}</cite>
							</p>


							<hr>
							<p>
							Note de la critique : {{ review.rating }}/5
							</p>

						</div>
						
					</div>
				</div>

			</div>
		</div>


	<div class="row lueur_esprit_wrapper mid_border">

		<div class="large-12 columns">
			<div class="shadow-box">

				<nav class="top-bar" style="" data-topbar="" data-options="is_hover: false">
					<section class="top-bar-section">

							<!-- Left Nav Section -->
							<ul class="left show-for-large-up">
								<li><a href="#">Commentaires</a></li>
								
							</ul>
					</section>
				</nav>

				<div class="panel">
					<div class="row">

						<div class="large-12 columns">
							<form>
								<div class="row">
									<div class="large-12 columns">
										<label>Pseudonyme
											<input type="text" placeholder="large-12.columns" />
										</label>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<label>Email
											<input type="text" placeholder="large-4.columns" />
										</label>
									</div>
									<div class="large-6 columns">
										<label>Site web
											<input type="text" placeholder="large-4.columns" />
										</label>
									</div>
								</div>
								<div class="row">
									<div class="large-12 columns">
										<label>Commentaire
											<textarea placeholder="small-12.columns"></textarea>
										</label>
									</div>
								</div>
							</form>

						</div>
						
					</div>
				</div>

			</div>
		</div>








	</div>



	{% endblock %}