{% extends "base.html" %}
{% load static %}
{% block mid_content %}
	<div class="row lueur_esprit_wrapper mid_border">

		<div class="large-12 columns">
			<div class="shadow-box">

				<nav class="top-bar" style="" data-topbar="" data-options="is_hover: false">
					<section class="top-bar-section">

							<!-- Left Nav Section -->
							<ul class="left show-for-large-up">
								<li><a href="#">Fiches</a></li>
								
							</ul>
					</section>
				</nav>

				<div class="panel">
					

							{% for work in works %}
								<div class="row">
									<div class="large-3 columns">
										<img src="http://placehold.it/163x257">
									</div>

									<div class="large-9 columns">
										<h1><a href="{% url 'work:work_detail' work.type_of_work.slug work.slug %}">{{ work.title }}</a></h1>
										<p>{{ work.description|safe }}</p>

										<div class="preview-footer">
										    {% for staffreview in work.sr %}
										    	Critique de {{ staffreview.author.first_name }} {{ staffreview.author.last_name|upper }}

										    	{% for i in staffreview.rating %}
										    		<img style="width:30px" src="{% static "img/feather.png" %}">
										    	{% endfor %}

										    {% endfor %}
										</div>
										    
									</div>

								</div>


								
							{% endfor %}

				</div>

			</div>
		</div>
	</div>



	{% endblock %}